@font-face {
	font-family: 'opensans';
	src: url('opensans-light.eot');
	src: url('opensans-light.eot?#iefix') format('embedded-opentype'),
		 url('opensans-light.woff') format('woff'),
		 url('opensans-light.ttf') format('truetype'),
		 url('opensans-light.svg#opensans') format('svg');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'opensans';
	src: url('opensans-regular.eot');
	src: url('opensans-regular.eot?#iefix') format('embedded-opentype'),
		 url('opensans-regular.woff') format('woff'),
		 url('opensans-regular.ttf') format('truetype'),
		 url('opensans-regular.svg#opensans') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'opensans';
	src: url('opensans-bold.eot');
	src: url('opensans-bold.eot?#iefix') format('embedded-opentype'),
		 url('opensans-bold.woff') format('woff'),
		 url('opensans-bold.ttf') format('truetype'),
		 url('opensans-bold.svg#opensans') format('svg');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'RobotoSlab';
	src: url('robotoslab-regular.eot');
	src: url('robotoslab-regular.eot?#iefix') format('embedded-opentype'),
		 url('robotoslab-regular.woff') format('woff'),
		 url('robotoslab-regular.ttf') format('truetype'),
		 url('robotoslab-regular.svg#RobotoSlab') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'RobotoSlab';
	src: url('RobotoSlab-Light.eot');
	src: url('RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
		 url('RobotoSlab-Light.woff') format('woff'),
		 url('RobotoSlab-Light.ttf') format('truetype'),
		 url('RobotoSlab-Light.svg#RobotoSlab') format('svg');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'RobotoSlab';
	src: url('robotoslab-bold.eot');
	src: url('robotoslab-bold.eot?#iefix') format('embedded-opentype'),
		 url('robotoslab-bold.woff') format('woff'),
		 url('robotoslab-bold.ttf') format('truetype'),
		 url('robotoslab-bold.svg#RobotoSlab') format('svg');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'raleway';
	src: url('raleway-extrabold.eot');
	src: url('raleway-extrabold.eot?#iefix') format('embedded-opentype'),
		 url('raleway-extrabold.woff') format('woff'),
		 url('raleway-extrabold.ttf') format('truetype'),
		 url('raleway-extrabold.svg#raleway') format('svg');
	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: 'raleway';
	src: url('raleway-regular.eot');
	src: url('raleway-regular.eot?#iefix') format('embedded-opentype'),
		 url('raleway-regular.woff') format('woff'),
		 url('raleway-regular.ttf') format('truetype'),
		 url('raleway-regular.svg#raleway') format('svg');
	font-style: normal;
	font-weight: normal;
}